<template>
    <div>
      <span class="block text-2xl font-semibold">{{ clan.stars }}</span>
      <span class="text-sm text-text-muted">Stars</span>
      <span class="block text-2xl font-semibold">{{ opponent.stars }}</span>
    </div>
    <div>
      <span class="block text-2xl font-semibold">{{ clan.destructionPercentage }}%</span>
      <span class="text-sm text-text-muted">Destruction</span>
      <span class="block text-2xl font-semibold">{{ opponent.destructionPercentage }}%</span>
    </div>
    <div>
      <span class="block text-2xl font-semibold">{{ clan.attacks }}</span>
      <span class="text-sm text-text-muted">Attacks</span>
      <span class="block text-2xl font-semibold">{{ opponent.attacks }}</span>
    </div>
  </template>
  
  <script setup>
  const props = defineProps({
    clan: {
      type: Object,
      required: true,
    },
    opponent: {
      type: Object,
      required: true,
    },
  });
  </script>
  