<script setup>
import SiteHeader from "@/components/SiteHeader.vue";
import ClanStatsBrief from "@/components/home/ClanStatsBrief.vue";
</script>

<template>
  <div class="grid grid-rows-[auto_1fr] h-screen">
    <SiteHeader class="row-start-1 row-end-2" />
    <main
      class="row-start-2 row-end-3 mx-auto max-w-[1200px] flex flex-col items-center justify-start p-6 gap-6 shadow-md"
    >
      <h1 class="text-4xl font-bold text-text">About</h1>
      <ClanStatsBrief class="w-full p-6 rounded-md bg-background shadow-lg" />
    </main>
  </div>
</template>
