<script setup>
import SiteHeader from "@/components/SiteHeader.vue";
import WelcomeInfo from "@/components/home/WelcomeInfo.vue";
import RulesInfo from "@/components/home/RulesInfo.vue";
import CardTemplate from "@/components/CardTemplate.vue";
import ClanWarInfo from "@/components/home/ClanWarInfo.vue";
import ClanMemberInfo from "@/components/home/ClanMemberInfo.vue";
import DiscordWidget from "@/components/DiscordWidget.vue";
import SiteFooter from "@/components/SiteFooter.vue";
</script>

<template>
  <div class="grid grid-rows-[auto_1fr_auto] h-screen w-full">
    <SiteHeader class="row-start-1 row-end-2" />
    <main class="row-start-2 row-end-3 w-full overflow-y-auto">
      <div class="md:max-w-[1800px] md:mx-auto p-4">
        <!-- Mobile Layout -->
        <div class="grid grid-cols-1 gap-4 lg:hidden">
          <WelcomeInfo class="overview-component flex items-center p-8" />
          <RulesInfo class="overview-component flex items-center p-8" />
          <div class="overview-component m-auto">
            <ClanWarInfo class="w-full" />
          </div>

          <div class="pages-container bg-background p-6 flex flex-col gap-4 rounded-lg">
            <h2 class="text-2xl font-light text-center">Pages</h2>
            <RouterLink to="/strategy">
              <CardTemplate title="Strategy Table" text="Click here to view our strategy table" />
            </RouterLink>
            <RouterLink to="/pages/war-weight">
              <CardTemplate title="War Weight" text="Find out how War Weight affects your base in war" />
            </RouterLink>
            <RouterLink to="/pages/upgrade-priority">
              <CardTemplate title="Update Priority Guide" text="A general guide to upgrading in Clash of Clans" />
            </RouterLink>
          </div>

          <ClanMemberInfo />
          <DiscordWidget serverurl="https://discord.gg/invite/VkWVBTMyQN" />
        </div>

        <!-- Desktop Layout -->
        <div class="hidden lg:grid lg:grid-cols-3 gap-4">
          <!-- Left Column -->
          <div class="space-y-4">
            <WelcomeInfo class="overview-component flex items-center min-h-[300px]" />
            <div class="pages-container bg-background p-6 flex flex-col gap-4 rounded-lg">
              <h2 class="text-2xl font-light text-center">Pages</h2>
              <RouterLink to="/strategy">
                <CardTemplate title="Strategy Table" text="Click here to view our strategy table" />
              </RouterLink>
              <RouterLink to="/pages/war-weight">
                <CardTemplate title="War Weight" text="Find out how War Weight affects your base in war" />
              </RouterLink>
              <RouterLink to="/pages/upgrade-priority">
                <CardTemplate title="Update Priority Guide" text="A general guide to upgrading in Clash of Clans" />
              </RouterLink>
            </div>
          </div>

          <!-- Middle Column -->
          <div class="space-y-4">
            <RulesInfo class="overview-component flex items-center justify-center min-h-[300px]" />
            <ClanMemberInfo />
          </div>

          <!-- Right Column -->
          <div class="space-y-4">
            <ClanWarInfo
              class="overview-component flex items-center p-8 rounded-md bg-background shadow-md min-h-[300px]" />
            <DiscordWidget serverurl="https://discord.gg/invite/VkWVBTMyQN" />
          </div>
        </div>
      </div>
    </main>
    <SiteFooter class="row-start-3 row-end-4" />
  </div>
</template>

<style scoped>
@media (min-width: 1024px) {
  .overview-component {
    @apply min-h-[300px];
  }
}

/* Apply mobile ordering */
@media (max-width: 1023px) {
  .grid>* {
    order: 999;
    /* Default high order */
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .order-3 {
    order: 3;
  }

  .order-4 {
    order: 4;
  }

  .order-5 {
    order: 5;
  }

  .order-6 {
    order: 6;
  }
}
</style>