<script setup>
import SiteHeader from "@/components/SiteHeader.vue";
</script>

<template>
  <SiteHeader />
  <main>
    <section  class="prose prose-lg mx-auto">
      <PageContent
        v-if="currentPage"
        :page="currentPage"
      />
      <div v-else>
        Loading...
      </div>
    </section>
  </main>
</template>

<script>
import PageContent from "@/components/PageContent.vue";
import MarkdownIt from "markdown-it";

export default {
  components: {
    PageContent,
  },
  data() {
    return {
      currentPage: null,
    };
  },
  created() {
    this.fetchPage();
  },
  methods: {
    async fetchPage() {
      try {
        const id = this.$route.params.id;
        const response = await fetch(`/content/${id}.md`);
        if (response.ok) {
          const markdownContent = await response.text(); // Get the Markdown content as text
          const md = new MarkdownIt();
          const html = md.render(markdownContent); // Parse Markdown to HTML
          this.currentPage = html;
        } else {
          console.error("Failed to fetch page:", response.status);
        }
      } catch (error) {
        console.error("Error fetching page:", error);
      }
    },
  },
};
</script>

<style scoped>
section {
  max-width: 48rem;
  padding: 2rem;
  margin: auto;
}
</style>
