<script setup>
import SiteHeader from "@/components/SiteHeader.vue";
import SiteFooter from "@/components/SiteFooter.vue";
import StrategyTable from "@/components/strategy/StrategyTable.vue";
</script>

<template>
  <div class="flex flex-col min-h-screen">
    <SiteHeader />
    <main class="flex w-full flex-col items-center justify-center p-8 text-center">
      <section
        id="strategy-table"
        class="w-full max-w-5xl flex flex-col items-center justify-center gap-8"
      >
        <h1 class="text-4xl font-bold text-text">War Strategy</h1>
        <StrategyTable />
      </section>
    </main>
    <SiteFooter />
  </div>
</template>
