<template>
  <div v-if="error" class="text-text text-center text-lg">Failed to load Clan War details.</div>
  <div v-if="loading" class="flex items-center justify-center text-text text-lg">Loading...</div>

  <!-- In War -->
  <section v-if="currentWar.state == 'inWar' && !loading"
    class="war-section bg-background p-6 rounded-lg shadow-md flex flex-col items-center gap-6 w-full max-w-[90%] sm:max-w-xl">
    <div class="text-center text-text">
      <h2 class="text-2xl font-light">War in progress.</h2>
      <CountdownTimer :target-date="currentWar.endTime" class="text-lg mt-2" />
    </div>
    <div
      class="bg-background-layer rounded-lg px-4 py-6 flex flex-col sm:flex-row items-center justify-between shadow-md gap-6 w-full">
      <div class="flex flex-col min-[550px]:flex-row items-center gap-4 text-center sm:text-left">
        <img class="w-16 h-16" :src="currentWar.clan.badgeUrls.small" alt="Clan Badge" />
        <span class="text-lg font-eboracum text-text">{{ currentWar.clan.name }}</span>
      </div>
      <span class="text-text-muted text-lg font-medium">vs</span>
      <div class="flex flex-col min-[550px]:flex-row items-center gap-4 text-center sm:text-left">
        <span class="text-lg font-eboracum text-text">{{ currentWar.opponent.name }}</span>
        <img class="w-16 h-16" :src="currentWar.opponent.badgeUrls.small" alt="Opponent Badge" />
      </div>
    </div>
    <div class="war-details grid grid-cols-3 gap-4 mt-4 text-text text-center">
      <WarStats :clan="currentWar.clan" :opponent="currentWar.opponent" />
    </div>
  </section>

  <!-- Preparation Day -->
  <section v-if="currentWar.state == 'preparation' && !loading"
    class="war-section bg-background p-6 rounded-lg shadow-md flex flex-col items-center gap-6 w-full max-w-[90%] sm:max-w-xl">
    <div class="text-center text-text">
      <h2 class="text-2xl font-light">Preparation Day.</h2>
      <CountdownTimer :target-date="currentWar.endTime" class="text-lg mt-2" />
    </div>
    <div
      class="bg-background-layer rounded-lg px-4 py-6 flex flex-col sm:flex-row items-center justify-between shadow-md gap-6 w-full">
      <div class="flex flex-col min-[550px]:flex-row items-center gap-4 text-center sm:text-left">
        <img class="w-16 h-16" :src="currentWar.clan.badgeUrls.small" alt="Clan Badge" />
        <span class="text-lg font-eboracum text-text">{{ currentWar.clan.name }}</span>
      </div>
      <span class="text-text-muted text-lg font-medium">vs</span>
      <div class="flex flex-col min-[550px]:flex-row items-center gap-4 text-center sm:text-left">
        <span class="text-lg font-eboracum text-text">{{ currentWar.opponent.name }}</span>
        <img class="w-16 h-16" :src="currentWar.opponent.badgeUrls.small" alt="Opponent Badge" />
      </div>
    </div>
  </section>

  <!-- Clan War League -->
  <section v-if="isCWL && !loading"
    class="war-section bg-background p-6 rounded-lg shadow-md flex flex-col items-center gap-6 w-full max-w-[90%] sm:max-w-xl">
    <div class="text-center text-text">
      <h2 class="text-2xl font-light">Clan War League</h2>
      <p class="text-lg mt-2">Season: {{ cwlData.season }}</p>
    </div>

    <!-- CWL Preparation Phase -->
    <template v-if="cwlData.state === 'preparation'">
      <div class="text-center text-text">
        <h3 class="text-xl font-light mb-4">Preparation Phase</h3>
      </div>
      <div class="w-full space-y-4">
        <div v-for="(clan, index) in cwlData.clans" :key="clan.tag"
          class="bg-background-layer rounded-lg px-4 py-3 flex items-center justify-between shadow-md">
          <div class="flex items-center gap-4">
            <span class="text-text-muted">{{ index + 1 }}</span>
            <img class="w-8 h-8" :src="clan.badgeUrls.small" alt="Clan Badge" />
            <span class="text-lg font-eboracum text-text">{{ clan.name }}</span>
          </div>
          <span class="text-text-muted">Level {{ clan.clanLevel }}</span>
        </div>
      </div>
    </template>

    <!-- CWL War Phase -->
    <template v-if="cwlData.state === 'inWar'">
      <div class="text-center text-text">
        <h3 class="text-xl font-light mb-4">Current Round Matchups</h3>
      </div>
      <div class="w-full space-y-4">
        <div v-for="(matchup, index) in currentRoundMatchups" :key="index"
          class="bg-background-layer rounded-lg px-4 py-4 flex flex-col sm:flex-row items-center justify-between shadow-md gap-4">
          <div class="flex flex-col min-[550px]:flex-row items-center gap-4">
            <img class="w-12 h-12" :src="matchup.clan1.badgeUrls.small" alt="Clan Badge" />
            <span class="text-lg font-eboracum text-text">{{ matchup.clan1.name }}</span>
          </div>
          <span class="text-text-muted text-lg font-medium">vs</span>
          <div class="flex flex-col min-[550px]:flex-row items-center gap-4">
            <span class="text-lg font-eboracum text-text">{{ matchup.clan2.name }}</span>
            <img class="w-12 h-12" :src="matchup.clan2.badgeUrls.small" alt="Clan Badge" />
          </div>
        </div>
      </div>
      <div class="text-center text-text-muted mt-2">
        Round {{ currentRound }}/7
      </div>
    </template>
  </section>

  <!-- Out of War -->
  <section v-if="currentWar.state == 'warEnded' && !loading"
    class="war-section bg-background p-6 rounded-lg shadow-md flex flex-col items-center gap-6 w-full max-w-[90%] sm:max-w-xl">
    <div class="text-center text-text">
      <span v-if="warLog.result == 'win'" class="text-2xl font-semibold text-green-600">Victory!</span>
      <span v-if="warLog.result == 'tie'" class="text-2xl font-semibold text-yellow-500">Tie.</span>
      <span v-if="warLog.result == 'lose'" class="text-2xl font-semibold text-red-600">Defeat.</span>
      <h2 class="text-2xl font-light mt-2">War has ended.</h2>
    </div>
    <div
      class="bg-background-layer rounded-lg px-4 py-6 flex flex-col sm:flex-row items-center justify-between shadow-md gap-6 w-full">
      <div class="flex flex-col min-[550px]:flex-row items-center gap-4 text-center sm:text-left">
        <img class="w-16 h-16" :src="warLog.clan.badgeUrls.small" alt="Clan Badge" />
        <span class="text-lg font-eboracum text-text">{{ warLog.clan.name }}</span>
      </div>
      <span class="text-text-muted text-lg font-medium">vs</span>
      <div class="flex flex-col min-[550px]:flex-row-reverse items-center gap-4 text-center sm:text-left">
        <span class="text-lg font-eboracum text-text">{{ warLog.opponent.name }}</span>
        <img class="w-16 h-16" :src="warLog.opponent.badgeUrls.small" alt="Opponent Badge" />
      </div>
    </div>
    <div class="war-details grid grid-cols-3 gap-4 mt-4 text-text text-center">
      <WarStats :clan="warLog.clan" :opponent="warLog.opponent" />
      <p class="col-span-3 text-text text-sm">
        Attacks used: {{ warLog.clan.attacks }}/{{
          warLog.teamSize * warLog.attacksPerMember
        }}
      </p>
    </div>
  </section>
</template>

<script setup>
import { computed, onMounted } from "vue";
import { useMainStore } from "@/store";
import CountdownTimer from "@/components/home/CountdownTimer.vue";
import WarStats from "@/components/war/WarStats.vue";

const store = useMainStore();

onMounted(async () => {
  await store.fetchCurrentWar();
  await store.fetchWarLog();
  await store.fetchClanWarLeague();
});

const currentWar = computed(() => store.currentWar);
const warLog = computed(() =>
  store.loading.warLog || !store.warLog.items ? null : store.warLog.items[0]
);
const cwlData = computed(() => store.clanWarLeague);

const loading = computed(
  () =>
    store.loading.currentWar ||
    store.loading.warLog ||
    store.loading.clanWarLeague
);

const isCWL = computed(() => {
  return cwlData.value && (cwlData.value.state === 'preparation' || cwlData.value.state === 'inWar');
});

const currentRound = computed(() => {
  if (!cwlData.value || !cwlData.value.rounds) return 1;
  return cwlData.value.rounds.findIndex(round => 
    round.warTags.some(tag => tag !== "#0")
  ) + 1;
});

const currentRoundMatchups = computed(() => {
  if (!cwlData.value || !cwlData.value.clans) return [];
  
  return cwlData.value.clans.reduce((pairs, clan, index) => {
    if (index % 2 === 0 && cwlData.value.clans[index + 1]) {
      pairs.push({
        clan1: clan,
        clan2: cwlData.value.clans[index + 1]
      });
    }
    return pairs;
  }, []);
});
</script>