<template>
  <div class="flex justify-around gap-4 sm:gap-8 text-center text-text-muted">
    <div
      v-for="(value, key) in warDetails"
      :key="key"
      class="flex flex-col items-center"
    >
      <p class="font-eboracum font-extrabold text-[calc(1.5rem+0.2vw)] tracking-wide">
        {{ value.count }}
      </p>
      <p class="text-sm font-medium">
        {{ value.name }}
      </p>
    </div>
  </div>
</template>

<script setup>
import { useMainStore } from "@/store";
import { onMounted, computed } from "vue";

const store = useMainStore();

onMounted(async () => {
  await store.fetchClan();
});

const warDetails = computed(() => {
  if (store.loading.clan || !store.clan) {
    return {};
  }

  return {
    warWins: {
      name: "Wins",
      count: store.clan.warWins,
    },
    warWinStreak: {
      name: "Streak",
      count: store.clan.warWinStreak,
    },
    warLosses: {
      name: "Losses",
      count: store.clan.warLosses,
    },
    memberCount: {
      name: "Members",
      count: store.clan.members,
    },
  };
});
</script>
