<template>
  <div v-if="loading" class="flex items-center justify-center bg-background text-text rounded-lg p-6 shadow-md h-40">
    Loading Members...
  </div>

  <section v-if="!loading"
    class="members-section max-h-[40vh] flex flex-col bg-background p-6 rounded-lg gap-4 shadow-md">
    <h2 class="text-xl font-semibold text-text">Members</h2>
    <ul class="m-0 list-none flex flex-col gap-1 overflow-y-auto">
      <li v-for="item in members.items" :key="item.tag" class="flex items-center justify-between pr-1">
        <div class="member-wrapper flex items-center gap-2">
          <span class="text-sm font-medium">{{ item.clanRank }}.</span>
          <img :src="item.league.iconUrls.tiny" alt="League Icon" class="w-8 h-8">
          <span class="text-text">{{ item.name }}</span>
        </div>
        <div class="member-wrapper flex items-center gap-1">
          <span class="trophy drop-shadow-sm">🏆</span>
          <span class="text-text">{{ item.trophies }}</span>
        </div>
      </li>
    </ul>
  </section>
</template>

<script setup>
import { useMainStore } from "@/store";
import { onMounted, computed } from "vue";

const store = useMainStore();

onMounted(async () => {
  await store.fetchMembers();
});

const members = computed(() => store.members);
const loading = computed(() => store.loading.members);
</script>