<template>
  <div class="flex flex-col items-center justify-center text-center">
    <p v-if="timeRemaining > 0" class="text-xl text-text">
      <span class="text-2xl font-semibold font-mono mr-1">
        {{ hours.toString().padStart(2, '0') }}:{{
          minutes.toString().padStart(2, '0') }}:{{
          seconds.toString().padStart(2, '0') }}
      </span>
      Remaining
    </p>
    <p v-else class="text-xl">Countdown finished</p>
  </div>
</template>

<script setup>
import { ref, computed, onMounted } from "vue";

const props = defineProps({
  targetDate: {
    type: String,
    required: true,
  },
});

const now = ref(new Date());

// Format targetDate for JavaScript
const targetDateFormatted = computed(() => {
  return (
    props.targetDate.slice(0, 4) +
    "-" +
    props.targetDate.slice(4, 6) +
    "-" +
    props.targetDate.slice(6, 8) +
    "T" +
    props.targetDate.slice(9, 11) +
    ":" +
    props.targetDate.slice(11, 13) +
    ":" +
    props.targetDate.slice(13, 15) +
    ".000Z"
  );
});

const target = computed(() => new Date(targetDateFormatted.value));

// Calculate the remaining time
const timeRemaining = computed(() => target.value - now.value);
const days = computed(() => Math.floor(timeRemaining.value / (1000 * 60 * 60 * 24)));
const hours = computed(() => Math.floor((timeRemaining.value % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)));
const minutes = computed(() => Math.floor((timeRemaining.value % (1000 * 60 * 60)) / (1000 * 60)));
const seconds = computed(() => Math.floor((timeRemaining.value % (1000 * 60)) / 1000));

// Update time every second
onMounted(() => {
  setInterval(() => {
    now.value = new Date();
  }, 1000);
});
</script>
