<template>
  <div class="flex flex-col gap-4 text-center">
    <h2 class="text-2xl font-bold text-text">Are you a new member?</h2>
    <RouterLink to="/pages/rules"
      class="mx-auto w-fit px-6 py-3 text-[calc(1.4rem+0.5vw)] text-white rounded-xl bg-gradient-to-r from-red-500 to-pink-600 shadow-md transition-all duration-500 transform hover:scale-95">
      Please read our rules.
    </RouterLink>
  </div>
</template>
