<script setup>
import ClanStatsBrief from "@/components/home/ClanStatsBrief.vue";
</script>

<template>
  <section id="welcome-info" class="flex flex-col items-center justify-around flex-wrap gap-2 py-2 sm:p-4">
    <h1 id="welcome-text" class="text-5xl font-normal text-center">
      Welcome!
    </h1>
    <ClanStatsBrief />
  </section>
</template>
