<template>
  <div class="p-4 flex flex-col bg-[var(--color-background-layer)] rounded-2xl text-[var(--color-text)] no-underline shadow-lg transition-transform duration-200 ease-in-out hover:scale-98">
    <h2 class="w-fit group">
      <span class="inline-block relative after:content-[''] after:absolute after:w-full after:h-0.5 after:bottom-0 after:left-0 after:bg-[var(--color-text)] after:scale-x-0 after:origin-right after:transition-transform after:duration-300 after:ease-out group-hover:after:scale-x-100 group-hover:after:origin-left">
        {{ title }}
      </span>
    </h2>
    <p>{{ text }}</p>
  </div>
</template>

<script setup>
const props = defineProps({
  title: { type: String, required: true },
  text: { type: String, required: true },
});
</script>