<template>
  <article v-html="pageContent" class="flex flex-col gap-8" />
</template>

<script>
export default {
  props: {
    page: {
      type: String,
      required: true,
    },
  },
  computed: {
    pageContent() {
      return this.page;
    },
  },
};
</script>