<template>
  <footer class="flex justify-center">
    <div class="p-4 text-center">
      <p class="text-text">
        Made by 
        <a
          href="https://kyle.au"
        >
          Kyle Phillips
        </a>
      </p>
      <p class="text-text mt-1">
        This material is unofficial and is not endorsed by Supercell. For more
        information see 
        <a
          href="https://www.supercell.com/fan-content-policy"
        >
          Supercell's Fan Content Policy
        </a>.
      </p>
    </div>
  </footer>
</template>
