<template>
  <header
    class="w-full bg-blend-saturation"
    style="background-image: url('/img/theclanwiki-bg-1080p.png'), linear-gradient(var(--color-header), var(--color-body));"
  >
    <div
      class="mx-auto max-w-7xl p-4 flex flex-col md:flex-row items-center justify-between gap-4"
    >
      <RouterLink to="/" class="flex flex-col items-center md:flex-row gap-4">
        <img
          v-if="clanBanner"
          alt=""
          class="h-auto w-[clamp(3.5rem,-0.875rem+5vw,5.5rem)] drop-shadow-md transition-transform duration-500 ease-in-out hover:scale-95"
          :src="clanBanner"
          width="125"
          height="125"
        >
        <img
          v-if="loading"
          alt=""
          class="h-auto w-[clamp(3.5rem,-0.875rem+5vw,5.5rem)] drop-shadow-md transition-transform duration-500 ease-in-out hover:scale-95"
          :src="placeholderImage"
          width="125"
          height="125"
        >
        <span
          class="inline-block text-center md:text-left text-[clamp(1.5rem,-0.875rem+5vw,2rem)] text-text font-esthetique"
        >
          @ The Clan Wiki
        </span>
      </RouterLink>
      <div class="flex items-center justify-center">
        <nav class="flex flex-wrap gap-4 text-center">
          <RouterLink
            to="/"
            class="custom-hover-underline text-[clamp(0.7rem,-0.9rem+5vw,1.1rem)] text-text font-sans"
          >
            Home
          </RouterLink>
          <RouterLink
            to="/pages/rules"
            class="custom-hover-underline text-[clamp(0.7rem,-0.9rem+5vw,1.1rem)] text-text font-sans"
          >
            Rules
          </RouterLink>
          <RouterLink
            to="/strategy"
            class="custom-hover-underline text-[clamp(0.7rem,-0.9rem+5vw,1.1rem)] text-text font-sans"
          >
            Strategy
          </RouterLink>
          <RouterLink
            to="/about"
            class="custom-hover-underline text-[clamp(0.7rem,-0.9rem+5vw,1.1rem)] text-text font-sans"
          >
            About
          </RouterLink>
        </nav>
      </div>
    </div>
  </header>
</template>

<script setup>
import { useMainStore } from "@/store";
import { onMounted, computed } from "vue";
import placeholderImage from "/src/assets/rings.svg";

const store = useMainStore();

onMounted(async () => {
  await store.fetchClan();
});

const clanBanner = computed(() => store.clan?.badgeUrls.medium);
const loading = computed(() => store.loading.clan);
</script>

<style scoped>
.custom-hover-underline {
  position: relative;
}

.custom-hover-underline::after {
  content: '';
  position: absolute;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-text);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.custom-hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.font-esthetique {
  font-family: 'esthetique', sans-serif;
}

.font-sans {
  font-family: 'eboracum', Verdana, Geneva, Tahoma, sans-serif;
}
</style>
