<template>
  <div class="flex flex-col items-center w-full max-w-[1400px] mx-auto px-4">
    <div id="groups" class="flex flex-col gap-4 w-full">
      <div v-for="baseGroup in baseGroups" :key="baseGroup.base"
        class="flex flex-col items-center p-4 gap-6 bg-background-layer dark:bg-background rounded-lg shadow-lg w-full">
        <div>
          <h2 class="text-xl font-bold">Group {{ baseGroup.base }}</h2>
        </div>
        <div class="flex flex-col md:flex-row gap-6 md:gap-8 justify-between w-full">
          <!-- Clan Members -->
          <div
            class="w-full lg:flex-1 flex flex-col items-start justify-between gap-4 bg-background dark:bg-background-layer p-6 rounded-lg shadow-lg">
            <h3 class="text-lg font-semibold">Clan Members</h3>
            <div class="w-full">
              <div v-for="member in baseGroup.members" :key="member.name" 
                class="flex flex-row items-center gap-3 py-2">
                <div class="text-left min-w-[24px]">{{ member.mapPosition }}.</div>
                <img class="w-14 drop-shadow-lg" :src="getTownHallImage(member.townhallLevel)"
                  :alt="'Town Hall ' + member.townhallLevel" />
                <div class="flex-1 text-ellipsis overflow-hidden">
                  {{ member.name }}
                </div>
              </div>
            </div>
          </div>
          <!-- Assigned Bases -->
          <div
            class="w-full lg:flex-1 flex flex-col items-start justify-between gap-4 bg-background dark:bg-background-layer p-6 rounded-lg shadow-lg">
            <h3 class="text-lg font-semibold">Assigned Bases</h3>
            <div class="w-full">
              <div v-for="opponent in baseGroup.opponents" :key="opponent.name" 
                class="flex flex-row items-center gap-3 py-2">
                <div class="text-left min-w-[24px]">{{ opponent.mapPosition }}.</div>
                <img class="w-14 rounded-lg drop-shadow-md" :src="getTownHallImage(opponent.townhallLevel)"
                  :alt="'Town Hall ' + opponent.townhallLevel" />
                <div class="flex-1 text-ellipsis overflow-hidden">
                  {{ opponent.name }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useMainStore } from "@/store";
import { onMounted, computed } from "vue";

const store = useMainStore();

onMounted(async () => {
  await store.fetchCurrentWar();
});

const getTownHallImage = (thLevel) => {
  return `/img/th-img/Town_Hall${thLevel}.webp`;
};

// Dynamic ranges based on team size
const getRanges = (teamSize) => {
  if (teamSize === 30) {
    return [
      { max: 6, base: "1 - 6" },
      { max: 12, base: "7 - 12" },
      { max: 17, base: "13 - 17" },
      { max: 23, base: "18 - 23" },
      { max: 30, base: "24 - 30" },
    ];
  } else if (teamSize === 40) {
    return [
      { max: 6, base: "1 - 6" },
      { max: 12, base: "7 - 12" },
      { max: 17, base: "13 - 17" },
      { max: 23, base: "18 - 23" },
      { max: 30, base: "24 - 30" },
      { max: 35, base: "31 - 35" },
      { max: 40, base: "36 - 40" },
    ];
  } else {
    return [
      { max: 4, base: "1 - 4" },
      { max: 9, base: "5 - 9" },
      { max: 13, base: "10 - 13" },
      { max: 18, base: "14 - 18" },
      { max: 24, base: "19 - 24" },
      { max: 30, base: "25 - 30" },
      { max: 35, base: "31 - 35" },
      { max: 41, base: "36 - 41" },
      { max: 50, base: "42 - 50" },
    ];
  }
};

const getAssignedBase = (mapPosition, ranges) => {
  for (const range of ranges) {
    if (mapPosition <= range.max) {
      return range.base;
    }
  }
  return "N/A";
};

const groupByAssignedBase = (members, ranges) => {
  const bases = {};
  for (const member of members) {
    const base = getAssignedBase(member.mapPosition, ranges);
    if (!bases[base]) {
      bases[base] = { base, members: [], opponents: [] };
    }
    bases[base].members.push(member);
  }
  for (const baseGroup in bases) {
    bases[baseGroup].members.sort((a, b) => a.mapPosition - b.mapPosition);
  }
  return bases;
};

const groupByAssignedOpponentBase = (opponents, ranges) => {
  const bases = {};
  for (const opponent of opponents) {
    const base = getAssignedBase(opponent.mapPosition, ranges);
    if (!bases[base]) {
      bases[base] = { base, members: [], opponents: [] };
    }
    bases[base].opponents.push(opponent);
  }
  for (const baseGroup in bases) {
    bases[baseGroup].opponents.sort((a, b) => a.mapPosition - b.mapPosition);
  }
  return bases;
};

const baseGroups = computed(() => {
  if (
    store.currentWar?.teamSize &&
    store.currentWar?.clan?.members &&
    store.currentWar?.opponent?.members
  ) {
    const ranges = getRanges(store.currentWar.teamSize);
    const memberBases = groupByAssignedBase(store.currentWar.clan.members, ranges);
    const opponentBases = groupByAssignedOpponentBase(store.currentWar.opponent.members, ranges);

    const mergedBases = { ...memberBases, ...opponentBases };
    for (const base in mergedBases) {
      if (memberBases[base] && opponentBases[base]) {
        mergedBases[base].members = memberBases[base].members;
        mergedBases[base].opponents = opponentBases[base].opponents;
      }
    }

    return Object.values(mergedBases).sort((a, b) => 
      parseInt(a.base.split("-")[0]) - parseInt(b.base.split("-")[0])
    );
  }
  return [];
});
</script>