@import url("https://fonts.cdnfonts.com/css/eboracum");
@import url("https://fonts.cdnfonts.com/css/esthetique");
@import url("https://fonts.cdnfonts.com/css/omnes-regular");

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0 auto;
  font-size: calc(1em + 0.390625vw);
  font-family: "Omnes", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-body: #f3f3f3;
  --color-background: #eeeeee;
  --color-background-layer: #dfdfdf;
  --color-great-rules: #e2f7e1;
  --color-header: #eeeeeeaf;
  --color-header-text: #000000;
  --color-link: #afafff;
  --color-link-visited: #d7b3f9;
  --color-table: #e2e2e2;
  --color-text: #000000;
  --color-text-muted: #656565;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-body: #0f0f0f;
    --color-background: #272727;
    --color-background-layer: #393939;
    --color-header: #333333af;
    --color-text: #ffffff;
    --color-text-muted: #c0c0c0;
    --color-table: #2c2c2c;
    --color-link: #008592c3;
    --color-link-visited: #ba83edb5;
  }
}

@layer base {

  /* Markdown container styles */
  .prose {
    @apply max-w-none;
  }

  /* Restore bullet points for unordered and ordered lists */
  .prose ul {
    @apply list-disc pl-5;
  }

  .prose ol {
    @apply list-decimal pl-5;
  }

  /* Paragraph styles */
  .prose p {
    @apply text-xl leading-relaxed;
  }

  /* Heading styles */
  .prose h1 {
    @apply text-4xl font-bold mt-8 mb-4;
  }

  .prose h2 {
    @apply text-3xl font-semibold mt-6 mb-3;
  }

  .prose h3 {
    @apply text-2xl font-medium mt-4 mb-2;
  }

  .prose h4 {
    @apply text-xl font-medium mt-3 mb-1;
  }

  /* Link styles */
  .prose a {
    @apply text-text no-underline hover:text-text;
  }

  /* Blockquote styles */
  .prose blockquote {
    @apply italic border-l-4 border-gray-300 pl-4;
  }

  /* Code block styles */
  .prose pre {
    @apply bg-gray-800 text-white p-4 rounded-lg overflow-x-auto;
  }

  .prose code {
    @apply bg-gray-200 text-red-600 px-1 rounded;
  }
}

body {
  background-color: var(--color-body);
  color: var(--color-text);
  font-family: "Omnes", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "eboracum", sans-serif;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

strong,
th {
  font-family: "Omnes Semibold", sans-serif;
}

main {
  margin: 0 auto;
}

ul,
ol {
  margin: auto 1.5rem;
}

p a,
li a,
blockquote a {
  color: var(--color-text);
  text-decoration: none;
  padding: 0.3rem;
  background: rgba(0, 0, 0, 0) linear-gradient(to top,
      transparent 20%,
      var(--color-link) 20%,
      var(--color-link) 40%,
      transparent 40%) repeat scroll 0% 0%;
  font-weight: 500;
  border-radius: 0.8rem 2.5rem 0;
}

p a:hover,
li a:hover {
  background: rgba(0, 0, 0, 0) linear-gradient(to top,
      transparent 10%,
      var(--color-link) 10%,
      var(--color-link) 80%,
      transparent 80%) repeat scroll 0% 0%;
}

p a:visited,
li a:visited,
blockquote a:visited {
  background: rgba(0, 0, 0, 0) linear-gradient(to top,
      transparent 20%,
      var(--color-link-visited) 20%,
      var(--color-link-visited) 40%,
      transparent 40%) repeat scroll 0% 0%;
}

.great-rules {
  margin: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--color-great-rules);
  text-align: center;
}

tr:nth-child(2n + 2) {
  background-color: var(--color-table);
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-text-muted);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text);
}